{% extends "base.html" %}
{% block content %}
<h1>About the Project</h1>
	<p>
		Hello, so this website started as my engineering python final project and since then it has grown into a personal hobby and a career building tool.  On this website you'll find my work expereince, a bunch of fun programs that I wrote as a hobby and a logic gates module that I hopes to be of use to someone else.  I hope this website highlights some of my skills and explains my background in more detail than my resume can.  I am an August graduate of the Stevens Institute of Technology with a Bachelors of Engineering in Electrical Engineering and I am searching for a career in the electrical or software engineering fields. 
		<br/>
		Acknowledgments: Paige Gartelmann was extremely supportive of this project and me. Thanks for the course Professor Mukundan and the TA's. I got a lot out of this course.
		<br/>
		<br/>
		Thanks and I hope that this website proves to be fun and informative,
		<br/>
		-Daniel Brescia
		
	</p>
{% endblock %}